.detail-wrap-sg{
    width: 1200px;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 100px;
}


.detail-review-wrap-sg{
    width: 1000px;
    margin: auto;
}

.detail-create-review-big-div-sg{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    justify-content: space-around;

}

#review-alert-msg-sg{
    padding-top: 10px;
    margin: auto;
    color: #484848;
    text-align: center;
}

.detail-review-rating-input-sg{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #484848;
    background-color: #ffffff;
    margin-top: 8px;
    padding: 8px 8px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    outline: 1px solid transparent;
    text-overflow: ellipsis;
    box-sizing: border-box;
    min-width: 50px;
    width: 120px;
    flex-shrink: 1;

}

.detail-review-content-input-sg{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #484848;
    background-color: #ffffff;
    margin-top: 8px;
    padding: 8px 8px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    outline: 1px solid transparent;
    text-overflow: ellipsis;
    box-sizing: border-box;
    min-width: 300px;
    width: 700px;
    flex-shrink: 1;
}

.detail-create-review-send-btn-sg{
    all: unset;
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    color: #b53e47;
    height: 40px;
    padding: 0 16px;
    padding-top: 3px;
    cursor: pointer;
}

.detail-review-big-big-container-sg{
    padding-top: 5px;
    padding-bottom: 5px;
}

.detail-review-big-container-sg{
    display: block;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 5px;
}


.detail-review-small-container-sg{
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    padding: 10px;
    border-radius: 16px;
}

.detail-review-rating-star-img-sg{
    width: 16px;
    height: 16px;
}

.detail-review-rating-sg{
    color: #a26f01;
    box-sizing: border-box;
    background-color: #f9f7d6;
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
    margin-right: 4px;
}

.detail-review-content-sg{
    box-sizing: border-box;
    /* background-color: #b53e47; */
    width: 100%;
    /* box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%); */
    text-align: left;
    vertical-align: middle;
}

.detail-review-author-time-container-sg{
    box-sizing: border-box;
    display: flex;
    padding: 5px;
}

.detail-review-author-sg{
    color: #800020;
    font-weight: bolder;
    margin-right: 10px;
    margin-left: 10px;
}

.detail-review-time-sg{
    color: #c5ba93;
}

.detail-review-edit-delete-btn-sg{
    display: flex;
    justify-content: flex-end;
}

.detail-review-edit-btn-sg{
    all: unset;
    color: #a26f01;
    box-sizing: border-box;
    background-color: #f9f7d6;
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
    margin-right: 8px;
    cursor: pointer;

}

.detail-review-delete-btn-sg{
    all: unset;
    color: #e1e0d9;
    box-sizing: border-box;
    background-color: #b53e47;
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 8px;
    margin-right: 4px;
    cursor: pointer;

}