.container {
    /* position: fixed; */
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c6ba93;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-left: 20px;
}
.logo:hover {
    box-shadow: 0 8px 8px 0 rgb(51 48 48 / 20%), 0 -8px 24px 0 rgb(234 224 218 / 30%);
}
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 400px;
    margin: -200px 0 0 -200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
}

hr {
    margin-top: 20px;
    background: #eee;
}

.header-signin:hover {
    box-shadow: 0 8px 8px 0 rgb(51 48 48 / 20%), 0 -8px 24px 0 rgb(234 224 218 / 30%);
}
