<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <!-- CSS불러오기 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Ladder to Wine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function onDisplay(){
        $('.loading-box-div-sg').show();
        document.body.style.overflow = "hidden";
    }
       
    </script>
    
     
</head>

<body>
    <nav>
        <div class="container">
            <div>
                <a class="logo" href="{% url 'wines:home' %}"">Ladder to Wine</a>
            </div>
            <form method="post" action="{% url 'wines:search' %}">
                {% csrf_token %}
                <div class="search-bar">
                    <input type="search" placeholder="와인 검색" aria-label="Search" id="searched" name="searched">
                    <input type="submit" value="검색" class="search-btn">
                </div>

            </form>
            
            <div>
                <form>
                    {% if not user.is_authenticated %}
                    <div>
                        <div>
                            <a class="header-signin" href="/sign-in"> Sign In </a>
                        </div>
                    </div>
                    {% else %}
                    <div>
                        <a class="" href="/my">
                            {{ user.nickname }} 님 반갑습니다.
                        </a>
                    </div>
                    <div>
                        <a class="" href="/logout"> 로그아웃 </a>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <nav>
            <div class="footer-content">
                <span>LADDER BUSINESS PLATFORM Copyright © Ladder Corp. All Rights Reserved.</span>
            </div>
        </nav>
    </footer>
    <div class="loading-box-div-sg" style="display: none;">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>LOADING</span>
        </div>
    </div>
        
</body>

</html>