{% extends 'base.html' %}

{% block title %}
상세페이지
{% endblock %}
{% block content %}

<div class="">
    {% if wine in click_wish %}
    <a href="{% url 'users:post_wish' id=wine.id code=1 %}" class="">[찜 취소]</a>
    {% else %}
    <a href="{% url 'users:post_wish' id=wine.id code=1 %}" class="">[찜하기]</a>
    {% endif %}
</div>
<hr>

<h3>{{ wine.name }}</h3>
<h3>{{ wine.year }}</h3>

<h3>{{ src }}</h3>
<img src="http://{{src}}" alt="image place">
<!-- <img src={{src}} alt="image place">
<img src=src alt="image place">
<img src="src" alt="image place">
 -->
<h3>{{ wine.nation }}</h3>
<h3>{{ wine.type }}</h3>
<h3>{{ wine.degree }}</h3>
<h3>{{ wine.price }}</h3>
<h3>{{ av_rating }}</h3>

{% if exist == 0 %}
<hr>
{% if messages %}
{% for message in messages %}
<div id="review-alert-msg">
    {{ message.message }}
</div>
{% endfor %}
{% endif %}

<form action="{% url 'wines:create_review' wine.id %}" method="post">
    {% csrf_token %}
    <label for="rating">
        Rating
    </label>
    <input type="number" step="0.1" name="rating" min="0" max="5" />
    <label for="content">
        Review
    </label>
    <textarea name="content" cols="30" rows="5"></textarea>
    <button>Submit</button>
</form>
{% endif %}

<hr>
{% for review in reviews %}
<h3>{{ review.rating.rating }}</h3>
<h3>{{ review.content }}</h3>
<div style="text-align: right">
    <span style="font-size: small">{{ review.author.username }}-{{ review.created_at|timesince }} 전</span>
</div>

{% if review.author == user %}
<div style="float: right">
    <form action="{% url 'wines:to_edit_review' review_id=review.id wine_id=wine.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="수정">
    </form>
    <form action="{% url 'wines:delete_review' review_id=review.id wine_id=wine.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
</div>

{% endif%}
{% endfor %}

{% endblock %}