{% extends 'base.html' %}
{% block title %}
리뷰 수정 페이지
{% endblock %}
{% block content %}
<div class="detail-wrap-sg">
    <h1>alkdsjlfl</h1>

    <h1>alkdsjlfl</h1>

    <h1>alkdsjlfl</h1>
    <h1>alkdsjlfl</h1>
    <h1>alkdsjlfl</h1>
    <h1>alkdsjlfl</h1>



<hr>
<div class="detail-review-wrap-sg">

    {% if messages %}
    <hr>
    {% for message in messages %}
    <div id="review-alert-msg-sg">
        {{ message.message }}
    </div>
    {% endfor %}
    <hr>
    {% endif %}
    
    
    <div class="detail-create-review-big-div-sg">
        <form action="{% url 'wines:edit_review' review_id=review.id wine_id=wine.id code=code %}" method="post">
            {% csrf_token %}
            <input class="detail-review-rating-input-sg" type="number" step="0.1" name="rating" value="{{ review.rating.rating }}" />
            <input class="detail-review-content-input-sg" type="text" name="content" value="{{ review.content }}" />
            <button class="detail-create-review-send-btn-sg">Send</button>
        </form>
    </div>
</div>
</div>            
{% endblock %}
