{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>안녕하세요</h1>
    {% for wine in wines %}
    <a href="{% url 'wines:wine_detail_view' wine.pk %}">
        <img src="https://{{ wine.img_url }}" width="200" alt="image place">
        <p>{{ wine.av_rating }}</p>
        <p>{{ wine.price }} 원</p>
        <p>{{ wine.producer }}</p>
        <p>{{ wine.name }} {{ wine.year }}</p>
        <p>{{ wine.local2 }}, {{ wine.local1 }}</p>
    </a>
    {% endfor %}
</body>

</html>
{% endblock %}