{% extends 'base.html' %}

{% block title %}
My HOME
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/sign-in"> Sign In <span class="sr-only"></span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/sign-up"> Sign Up <span class="sr-only"></span></a>
    </li>
</ul>
{% else %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item disabled">
        <span class="nav-link">
            {{ user.username }} 님 반갑습니다.
        </span>
    </li>
</ul>
<div>
    <a href="">개인정보 수정</a>
    <a href="">개인정보 탈퇴</a>
</div>
<div>
    <a href="{% url 'users:get_wish' user.id %}">Wish List</a>
    <a href="/my/review_list">Review List</a>
</div>
{% endif %}
{% endblock %}