{% extends 'base.html' %}

{% block title %}
My REVIEW
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
{% else %}
<!-- 사용자 리스트 반복문 -->
<form action="{% url 'users:get_review' user.id %}" method="post">
    {% csrf_token %}

    {% for review in review_list %}
    {% load index %}
    <h3>{{ review.wine.name }}</h3>
    <h3>{{ review.wine.year }}</h3>
    <h3>{{ src_list|index:forloop.counter0 }}</h3>
    <img src="http://{{src_list|index:forloop.counter0}}" alt="image place">

    <h3>{{ review.rating.rating }}</h3>
    <h3>{{ review.content }}</h3>
    <div style="text-align: right">
        <span style="font-size: small">{{ review.author.nickname }}-{{ review.created_at|timesince }} 전</span>
    </div>

    {% if review.author == user %}
    <div style="float: right">
        <a href="{% url 'wines:to_edit_review' review_id=review.id wine_id=review.wine.id %}">
            <span class="badge bg-danger">수정</span>
        </a>
        <a href="{% url 'wines:delete_review' review_id=review.id wine_id=review.wine.id %}">
            <span class="badge bg-danger">삭제</span>
        </a>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</form>
{% endif %}
{% endblock %}