{% extends 'base.html' %}

{% block title %}
My WISH
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}

{% else %}
<div class="dh-my-nav">
    <div class="dh-my-nav-box">
        <div class="dh-my-nav-menu">
            <a href="{% url 'users:get_wish' user.id %}">Wish List</a>
        </div>
        <div class="dh-my-nav-menu">
            <a href="{% url 'users:get_review' user.id %}">Review List</a>
        </div>
    </div>
</div>
<!-- 사용자 리스트 반복문 -->
<div class="dh-mywish-body">
    <div class="dh-mywish-section">
        <div class="dh-mywish-box">
            {% for wine in wine_list %}
            {% csrf_token %}
            <a class="dh-mywish-card" href="/wine/{{ wine.id }}">
                <div class="dh-mywish-right">
                    <div class="dh-mywish-right-img_box">
                        {% load index %}
                        <img class="dh-mywish-right-img" src="http://{{src_list|index:forloop.counter0}}"
                            alt="image place">
                    </div>
                </div>
                <div class="dh-mywish-center">
                    <div class="dh-mywish-producer">{{ wine.producer }}</div>
                    <div class="dh-mywish-name">{{ wine.name }} {{ wine.year }}</div>
                    <div class="dh-mywish-local">{{ wine.nation }}, {{ wine.local1 }}</div>
                    <div class="dh-mywish-local">{{ wine.varieties1 }}</div>
                    {% if wine.varieties2 != 0 %}
                    <div>Blended</div>
                    {% endif %}
                    <div class="dh-mywish-rating_box">
                        <div class="dh-mywish-rating">{{ wine.av_rating }}</div>
                        <div class="dh-mywish-price">{{ wine.price }} 원</div>
                    </div>
                </div>
                <div class="dh-mywish-left">
                    <div class="dh-mywish-producer-semi">TYPE : {{ wine.type }}</div>
                    <div class="dh-mywish-producer-semi">DEGREE : {{ wine.degree }}</div>
                    <div class="dh-mywish-producer-semi">SWEET : {{ wine.sweet }}</div>
                    <div class="dh-mywish-producer-semi">ACIDITY : {{ wine.acidity }}</div>
                    <div class="dh-mywish-producer-semi">BODY : {{ wine.body }}</div>
                    <div class="dh-mywish-producer-semi">TANNIN : {{ wine.tannin }}</div>
                    <div class="dh-mywish-producer-semi">VOLUME : {{ wine.ml }} ml</div>
                </div>
                <form class="dh-mywish-review-rating-star" action="{% url 'users:post_wish' id=wine.id code=2 %}"
                    method="post">
                    {% csrf_token %}
                    <button type="submit"><span class="dh-mywish-review-rating-sg"><img
                                class="dh-mywish-review-rating-star-img-sg"
                                src="https://images.vivino.com/web_common/rating/star_10.svg"
                                alt="User rated star FullStar" height="28" width="29">
                        </span></button>
                </form>
            </a>
            <div class="sim-wine-recommendation-sg">
                <a href="{% url 'wines:wine_recommend_view' id=wine.id %}" class="sim-wine-recommendation-btn-sg"
                    onclick="onDisplay()">비슷한 와인 추천 받으러 가기</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}